<app-header titulo="Registrarse"></app-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="person-outline"></ion-icon>Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="person-circle-outline"></ion-icon>Apellidos</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="file-tray-outline"></ion-icon>Correo electrónico</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="key-outline"></ion-icon>Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>