.ion-card {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin-bottom: 0 !important;
}

.ion-padding {
    padding: 40%;
}

.transparent {
    margin:5%;
    background: rgba(255,255,255,0);
    box-shadow: none !important;
}