ion-content {
    --background: url('../../../assets/images/Background.png') repeat;
}

ion-text {
    background-color: rgba(255, 255, 255, 0.363);
}

.button-css {
    background-color: salmon;
}

.text-css {
    color: black !important;
}

.frame-css {
    margin: 5%;
}