<app-header titulo="Bullying"></app-header>
<ion-content>
    
    <iframe class="frame-css" width="90%" height="40%" src="https://www.youtube.com/embed/YGMpU35TwNY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="3"></ion-col>
            <ion-col size="6">
                <ion-button expand="block" shape="round" color="soft-red" href="https://www.imageneseducativas.com/10-videos-para-trabajar-el-acoso-escolar-bullying-con-ninos/">
                    Más videos en línea
                </ion-button>
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
                <ion-text class="ion-margin">
                    <p class="text-css">What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </ion-text>
            <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="3"></ion-col>
            <ion-col size="6">
                <img src="/assets/images/contrabullying.png">
            </ion-col>
            <ion-col size="3"></ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col size="3"></ion-col>
            <ion-col size="6">
                <ion-button expand="block" shape="round" color="soft-red" (click)="toastDesarrollo()">
                    Realiza un test
                </ion-button>
            </ion-col>
            <ion-col size="3"></ion-col> 
        </ion-row>
    </ion-grid>  
</ion-content>

                
<!--
    <ion-row class="ion-align-items-center">
            <ion-col size="1"></ion-col>
            <ion-col size="10">
                
            </ion-col>
            <ion-col size="1"></ion-col>
        </ion-row>
-->           