<app-header titulo="Login"></app-header>
<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">
                <ion-icon name="file-tray-outline"></ion-icon>Correo electrónico</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">
                <ion-icon name="key-outline"></ion-icon>Contraseña</ion-label>
            <ion-input type="password" required></ion-input>
        </ion-item>
        <br>
        <a style="margin-left: 3%;" [routerLink]="['/olvidar-contrasena']" class="small-text">¿Olvidaste la contraseña?</a>

        <br><br>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" color="celeste" expand="block" round>Iniciar Sesión</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button [routerLink]="['/registrar']" expand="block" color="light-purple" round>Registrarse</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>