<app-header titulo="Créditos"></app-header>

<ion-content class="card-background-page">
  
  <ion-card>
    <img src="assets/images/fondocreditos.jpg"/>
    <div class="card-title">Elaboración del sitio</div>
    <div class="card-subtitle">- Julio Ángel Ferrari Medina<br>- Rafael Palos Ruiz<br>- Luis Ignacio Ruiz Romero</div>
  </ion-card>

  <ion-card>
    <img src="assets/images/fondocreditos.jpg"/>
    <div class="card-title">Correo electrónico</div>
    <div class="card-subtitle">- julioangelferrarimedina@iessoterohernandez.es<br>- rafaelpalosruiz@iessoterohernandez.es<br>- luisignacioruizromero@iessoterohernandez.es</div>
  </ion-card>

</ion-content>
