<app-header titulo="Reestablecer Contraseña"></app-header>

<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">
                <ion-icon name="file-tray-outline"></ion-icon> Correo electrónico</ion-label>
            <ion-input type="email" required></ion-input>
        </ion-item>

        <div class="text-margins">
            <small>
            Proporcione el nombre de usuario o la dirección de correo electrónico que utilizó cuando se registró para recuperarla.
          </small>
        </div>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="light-purple" expand="block">Enviar</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>